html, body {
    position: relative;
    padding: 0 auto;
    overflow-y: hidden;
    overflow-x: hidden;
}


#title-header {
    text-align: center;
}

#createARoom {
    background-color: aliceblue;
    margin-top: 25em;
}

#create-box {
    position: relative;
    background-color: blanchedalmond;
    top: 2em;
    margin: 0 auto;
    width: 20em;
    height: 20em;
}